Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.19
blinker==1.3
celery==3.1.17
itsdangerous==0.24
kombu==3.0.30
pytz==2014.10
redis==2.10.3
decorator==4.0.9
praw==3.4.0
requests==2.9.1
six==1.10.0
update-checker==0.11
Werkzeug==0.11.8
wheel==0.24.0
